* { transition: all .2s linear; }


body { 
    background: #fff;
    color: #555;
    font: 14px arial;
}

a:link, a:visited { 
    color: #005599;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    padding-bottom: 2px;
    font: 16px arial;
}

a:hover { border-bottom: 1px solid #000; }
a.back { font-size: 14px; }

.checkout {

    h1 { 
        font: 26px arial;
        margin: 20px 0;
        
    }

    width: 800px;
    margin: 0 auto;
    padding: 20px 0;

}

.left { float: left; }
.right { float: right; }



footer {
    margin: 20px 0;
}
