.my-cart {

    li {
        padding: 20px 0;
        white-space: nowrap;
        height: 100px;
        width: 100%;
    }

    .product-picture {
        display: block;
        float: left;
        width: 100px;
        min-height: 100px;
        margin: 0 15px 0 0;
        overflow: hidden;
    }

    .product-name {
        width: 300px;
        font: 18px arial;
        overflow: hidden;
        display: inline-block;
        width: 400px;
        word-wrap: break-word;
    }

    .product-price {
        color: green;
        padding: 10px 0;
    }

    input[type=number] { width: 30px; }

    .my-cart-total { 
        font-size: 18px;
        margin: 10px 0;
    }

}
