.form-vertical {

    li { padding: 5px 0; }

    label { 
        width: 180px;
        float: left;
        text-align: right;
        margin: 6px 10px;
        font-size: 16px;
        vertical-align: middle;
    }

}
