/* UI */

.text {
    border: 1px solid #d2d2d2;
    border-radius: 3px;
    background: #FFF;
    color: #555;
    font-size: 16px;
    padding: 5px 10px;
    box-shadow: none;

    &:focus {
        border: 1px solid #949292;
    }
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-success {
    color: #fff;
    background-color: #5C7DB8;
    border-color: #4C6FAE;
}
