<div class="address">

    <h1>{{pageTitle}}</h1>

    <article class="form-vertical">
        <ul>
            <li>
                <label for="name">Nome destinatário</label>
                <input type="text" id="name" ng-model="address.name" class="text">
            </li>
            <li>
                <label for="postalcode">CEP</label>
                <input type="text" id="postalcode" ng-model="address.postalcode" class="text" maxlength="9">
            </li>
            <li>
                <label for="address">Endereço</label>
                <input type="text" id="address" ng-model="address.address" class="text">
            </li>
            <li>
                <label for="number">Número</label>
                <input type="text" id="number" ng-model="address.number" class="text">
            </li>
            <li>
                <label for="neighborhood">Bairro</label>
                <input type="text" id="neighborhood" ng-model="address.neighborhood" class="text">
            </li>
            <li>
                <label for="city">Cidade</label>
                <input type="text" id="city" ng-model="address.city" class="text">
            </li>
        </ul>

        <footer>
            <button class="btn btn-success" ui-sref="feedback">Finalizar</button>
            &middot; <a ui-sref="profile" class="back">Voltar</a>
        </footer>

    </article>

</div>
