<div class="cart">
    <h1>{{pageTitle}}</h1>

    <article class="my-cart">

        <ul ng-repeat="item in items">
            <li>
                <figure class="product-picture"><img ng-src="{{ item.image }}"></figure>
                <div class="product-name">
                    {{ item.name }}
                </div>
                <div class="product-description">{{ item.description }}</div>
                <div class="product-price">{{ item.price | currency:"R$ " }}</div>
                <div class="product-qtd">
                    <input type="number" ng-model="item.qtt" min="1" max="99">
                </div>
            </li>
        </ul>

        <footer>
            <div class="my-cart-total"><strong>Total: </strong> {{ total() | currency:"R$ " }}</div>
            <div class="my-cart-finalize"><button ui-sref="profile" class="btn btn-success">Finalizar compra</button></div>
        </footer>

    </article>

</div>
