<div class="profile">

    <h1>{{pageTitle}} </h1>

    <article class="form-vertical">
        <ul>
            <li>
                <label for="name">Nome</label>
                <input type="text" id="name" ng-model="profile.name" class="text">
            </li>
            <li>
                <label for="gender">Sexo</label>
                <input type="text" id="gender" ng-model="profile.gender" class="text">
            </li>
            <li>
                <label for="cpf">CPF</label>
                <input type="text" id="cpf" ng-model="profile.cpf" class="text" maxlength="14">
            </li>
            <li>
                <label for="birthdate">Data de nascimento</label>
                <input type="text" id="birthdate" ng-model="profile.birthdate" class="text" maxlength="10">
            </li>
            <li>
                <label for="tel">Telefone</label>
                <input type="text" id="tel" ng-model="profile.tel" class="text" maxlength="15">
            </li>
            <li>
                <label for="email">E-mail</label>
                <input type="text" id="email" ng-model="profile.email" class="text">
            </li>
        </ul>

        <footer>
            <button class="btn btn-success" ui-sref="address">Próximo</button>
            &middot; <a ui-sref="cart" class="back">Voltar</a>
        </footer>

    </article>
</div>
